﻿@model IEnumerable<Teledok.Models.Client>
@{
    Layout = "_Layout";
    ViewBag.Title = "Клиенты";
}
<div class="main__header">    
    <h2>@ViewBag.Title</h2>

    <a class="main__header-link" asp-action="Create">Добавить клиента</a>
    <a class="main__header-link_two" asp-action="Index" asp-controller="Home">Назад</a>
</div>

<div class="main__description">
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INN)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.TypeClient)</th>
                <th>@Html.DisplayNameFor(model => model.DateAdd)</th>
                <th>@Html.DisplayNameFor(model => model.DateRefresh)</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.INN</th>
                    <th>@item.Name</th>
                    <th>@item.TypeClient</th>
                    <th>@item.DateAdd</th>
                    <th>@item.DateRefresh</th>
                    <td><a asp-action="Details" asp-route-id="@item.ClientID">Подробнее</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

