﻿@model Teledok.Models.Client
@{
    Layout = "_Layout";
    ViewBag.Title = "Добавление нового клиента";
}
<div class="main__header">
    <h2>@ViewBag.Title</h2>
    <a class="main__header-link_two" asp-action="Client">Назад</a>
</div>

<div class="main__description">
    <form asp-action="Create">
        <div>
            <label asp-for="INN"></label>
            <input asp-for="INN" />
            <span asp-validation-for="INN"></span>
        </div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="TypeClient"></label>
            <select asp-for="TypeClient"> 
                <option >ЮР</option>
                <option >ИП</option>
            </select>
            <span asp-validation-for="TypeClient"></span>
        </div>
        <button>Сохранить</button>
    </form>
</div>