﻿@model Teledok.Models.Client
@{
    Layout = "_Layout";
    ViewBag.Title = "Клиент";
}
<div class="main__header">
    <h2>@ViewBag.Title</h2>
    <p>@Html.DisplayFor(model => model.Name)</p>
    <a class="main__header-link_two" asp-action="Client">Назад</a>
</div>

<div class="main__description">
   <label class="main__description-name">@Html.DisplayNameFor(model => model.TypeClient): </label>
   <label class="main__description-data">@Html.DisplayFor(model => model.TypeClient);</label><br />
   <label class="main__description-name">@Html.DisplayNameFor(model => model.INN): </label>
   <label class="main__description-data">@Html.DisplayFor(model => model.INN);</label><br />
   <label class="main__description-name">@Html.DisplayNameFor(model => model.Name): </label>
   <label class="main__description-data">@Html.DisplayFor(model => model.Name);</label><br />
   <label class="main__description-name">@Html.DisplayNameFor(model => model.DateAdd): </label>
   <label class="main__description-data">@Html.DisplayFor(model => model.DateAdd);</label><br />
   <label class="main__description-name">@Html.DisplayNameFor(model => model.DateRefresh): </label>
   <label class="main__description-data">@Html.DisplayFor(model => model.DateRefresh);</label><br />
</div>