﻿@font-face {
	font-family: OpenSans-Regular;
	src: url(../fonts/OpenSans-Regular.ttf);
}

body {
	background-image: url(../images/fon.jpg);
	background-size: 100%;
	backdrop-filter: blur(5px);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: OpenSans-Regular;
	margin: 0%;
}

a {
	text-decoration: none;
}

main {
	margin: 10% 20% 0;
}

.main__header {
	text-align: center;
	margin-bottom: 20%;
}

	.main__header h1 {
		font-size: 45px;
		font-weight: 500;
	}

	.main__header h2 {
		font-size: 40px;
		font-weight: 500;
		margin-bottom: 5%;
	}

	.main__header p {
		font-size: 20px;
		margin: 5% 0 10%;
	}

.main__header-link {
	margin: 2%;
	border-radius: 10px;
	border: 1px solid #224A59;
	background: rgba(255, 255, 255, 0);
	color: #224A59;
	transition: .6s linear;
	padding: 1% 4%;
	font-size: 25px;
	-webkit-box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
	-moz-box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
	box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
}

	.main__header-link:hover {
		border-radius: 10px;
		border: 1px solid #4B89BF;
		background-color: #4B89BF;
		color: #C2D7F2;
		transition: .6s linear;
	}

.main__header-link_two {
	margin: 2%;
	border-radius: 10px;
	border: 1px solid #224A59;
	background: rgba(255, 255, 255, 0);
	color: #224A59;
	transition: .6s linear;
	padding: 1% 4%;
	font-size: 25px;
	-webkit-box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
	-moz-box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
	box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
}

	.main__header-link_two:hover {
		border-radius: 10px;
		border: 1px solid #F26363;
		background-color: #F26363;
		color: #C2D7F2;
		transition: .6s linear;
	}

.main__description {
	background-color: white;
	padding: 5%;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
	-moz-box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
	box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
}

	.main__description h2 {
		font-size: 35px;
		font-weight: 500;
	}

	.main__description table {
		border-collapse: collapse;
		text-align: center;
		width: 100%;
	}

	.main__description th {
		padding: 1%;
		font-size: 20px;
	}

	.main__description tr {
		border: 0;
		border-bottom: 2px solid #224A59;
	}

	.main__description td {
		padding: 1%;
		font-size: 18px;
	}

	.main__description a {
		color: #F26363;
		transition: .4s linear;
	}

		.main__description a:hover {
			color: #4B89BF;
			transition: .4s linear;
		}

	.main__description label {
		font-size: 25px;
		padding: 2%;
		color: #224A59;
	}

	.main__description input {
		padding: 1%;
		margin: 2%;
		border: 0px;
		border-bottom: 1px solid #224A59;
		font-size: 20px;
		outline: none;
		color: #4B89BF;
	}

	.main__description select {
		font-size: 25px;
		padding: 1%;
		border-radius: 10px;
		border: 1px solid #224A59;
		-webkit-box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
		-moz-box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
		box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
		color: #224A59;
	}

	.main__description button {
		margin: 3% 0;
		border-radius: 10px;
		border: 1px solid #224A59;
		background: rgba(255, 255, 255, 0);
		color: #224A59;
		transition: .6s linear;
		padding: 1% 4%;
		font-size: 25px;
		-webkit-box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
		-moz-box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
		box-shadow: 5px 5px 8px -2px rgba(34, 74, 89, 0.17);
	}

		.main__description button:hover {
			border-radius: 10px;
			border: 1px solid #4B89BF;
			background-color: #4B89BF;
			color: #C2D7F2;
			transition: .6s linear;
		}

	.main__description span {
		color: red;
		font-size: 14px;
	}

.main__description-name {
	font-size: 25px;
	padding: 2%;
	color: #224A59;
}

.main__description-data {
	font-size: 25px;
	padding: 2%;
	color: #4B89BF;
}
