﻿@{
    Layout = "_Layout";
    ViewBag.Title = "Тестовое задание «Теледок»";
}
<div class="main__header">
    <h1>@ViewBag.Title</h1>
	<p>Лучшей реализации уже точно не будет &#128521;</p>

     <a class="main__header-link" asp-action="Client" asp-controller="Client">Клиенты</a>
     <a class="main__header-link_two" asp-action="Founder" asp-controller="Founder">Учредители</a>
</div>

<div class="main__description">
	<h2>Описание</h2>
	<p>Небходимо создать веб-приложение для добавления и просмотра клиентов (редактирование по желанию). Клиентами выступают юридические лица
	(ЮЛ) и индивидуальные предприниматели (ИП). ЮЛ могут иметь некоторое количество учредителей.</p>
	<h2>Необходимые поля</h2>
	<p>Клиент</p>
	<ul>
		<li>ИНН</li>
		<li>Наименование</li>
		<li>Тип (ЮЛ / ИП)</li>
		<li>Дата добавления (заполняется автоматически)</li>
		<li>Дата обновления (заполняется автоматически)</li>
	</ul>
	<p>Учредитель</p>
	<ul>
		<li>ИНН</li>
		<li>ФИО</li>
		<li>Дата добавления (заполняется автоматически)</li>
		<li>Дата обновления (заполняется автоматически)</li>
	</ul>
	<p>С типами данных для полей, связями, ограничениями и валидацией необходимо определиться самостоятельно.</p>
	<h2>Рекомендации</h2>
	<ul>
		<li>Для разработки использовать платформу ASP.NET Core MVC .</li>
		<li>В качестве СУБД использовать на выбор:</li>
		<ul>
			<li>SQL Express LocalDB (коробочное решение в Visual Studio )</li>
			<li>MS SQL (на базе docker )</li>
			<li>PostgreSQL (на базе docker )</li>
		</ul>		
		<li>В качестве ORM использовать Entity Framework Core и подход Code First .</li>
		<li>Для оформления разметки использовать Bootstrap или собственные стили по желанию.</li>
		<li>Не использовать встроенные механизмы генерации шаблонных контроллеров и представлений в Visual Studio , т.к. нам необходим ваш
	личный код для обсуждения и ревью.</li>
		<li>Загрузить исходный код на любую Git платформу с уникальным названием проекта (либо же скрыть из публичного поиска).</li>
		<li>Если проект будет нестандартным (иметь нюансы по запуску или что-то подобное), необходимо приложить файл с описанием.</li>
	</ul>
</div>