﻿@model Teledok.Models.Founder 
@{
    Layout = "_Layout";
    ViewBag.Title = "Добавление нового учредителя";
}
<div class="main__header">
    <h2>@ViewBag.Title</h2>    
    <a class="main__header-link_two" asp-action="Founder">Назад</a>
</div>

<div class="main__description">
    <form asp-action="Create">
        <div>
            <label asp-for="FIO"></label>
            <input asp-for="FIO" />
            <span asp-validation-for="FIO"></span>
        </div>
        <div>
            <label asp-for="Client"></label>
            <input asp-for="Client">

            <span asp-validation-for="Client"></span>
        </div>
        <button>Сохранить</button>
    </form>
</div>