﻿@model Teledok.Models.Founder
@{
    Layout = "_Layout";
    ViewBag.Title = "Учредитель";
}
<div class="main__header">
    <h2>@ViewBag.Title</h2>
    <p>@Html.DisplayFor(model => model.FIO)</p>
    <a class="main__header-link_two" asp-action="Founder">Назад</a>
</div>

<div class="main__description">
   <label class="main__description-name">@Html.DisplayNameFor(model => model.FIO): </label>
   <label class="main__description-data">@Html.DisplayFor(model => model.FIO);</label><br />
   <label class="main__description-name">@Html.DisplayNameFor(model => model.Client): </label>
   <label class="main__description-data">@Html.DisplayFor(model => model.Client);</label><br />
   <label class="main__description-name">@Html.DisplayNameFor(model => model.DateAdd): </label>
   <label class="main__description-data">@Html.DisplayFor(model => model.DateAdd);</label><br />
   <label class="main__description-name">@Html.DisplayNameFor(model => model.DateRefresh): </label>
   <label class="main__description-data">@Html.DisplayFor(model => model.DateRefresh);</label><br />
</div>