﻿@model IEnumerable<Teledok.Models.Founder>
@{
    Layout = "_Layout";
    ViewBag.Title = "Учредители";
}
<div class="main__header">
    <h2>@ViewBag.Title</h2>

    <a class="main__header-link" asp-action="Create">Добавить учредителя</a>
    <a class="main__header-link_two" asp-action="Index" asp-controller="Home">Назад</a>
</div>

<div class="main__description">
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FIO)</th>
                <th>@Html.DisplayNameFor(model => model.Client)</th>
                <th>@Html.DisplayNameFor(model => model.DateAdd)</th>
                <th>@Html.DisplayNameFor(model => model.DateRefresh)</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.FIO</th>
                    <th>@item.Client</th>
                    <th>@item.DateAdd</th>
                    <th>@item.DateRefresh</th>
                    <td><a asp-action="Details" asp-route-id="@item.FounderID">Подробнее</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
